.barcos-container {
    display: flex;
    justify-content: center;
  }
  
  .barcos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .barco {
    background-color: #333;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    font-weight: bold;
  }
  
  /* Barco con posición horizontal */
  .barco.horizontal {
    height: 50px;
    orientation: horizontal;
  }
  
  .barco.vertical {
    width: 50px;
    orientation: vertical;
  }