@import './open-color.css';

/* Tablero fácil  */

.board {
  width: 400px;
  height: 400px;
  border: 2px solid var(--oc-gray-4);
  margin: 1em 2em 2em 1em;
  display: flex;
  flex-wrap: wrap;
}

.board div {
  width: 10%;
  height: 10%;
  box-sizing: border-box;
  background: var(--oc-gray-1);
  border: 1px solid var(--oc-gray-2);
  transition: background-color 100ms ease-in-out;
}

/* Tablero difícil  */

.board-difficult {
  width: 600px;
  height: 600px;
  border: 2px solid var(--oc-gray-4);
  margin: 1em 1em 1em 1em;
  display: flex;
  flex-wrap: wrap;
}

.board-difficult div {
  width: 6.6666667%;
  height: 6.6666667%;
  box-sizing: border-box;
  background: var(--oc-gray-1);
  border: 1px solid var(--oc-gray-2);
  transition: background-color 100ms ease-in-out;
}



/* Opcion 1 */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Opcion 2 */
@keyframes shake {
  from {
    transform: translate(30%, 17%);
  }

  to {
    transform: translate(-30%, -17%);
  }
}

/* Colores de las celdas */

/* Vacía */
.board .empty {
  background-color: var(--oc-gray-1);
}
.board .empty:hover {
  background-color: var(--oc-yellow-2);
}

/* Con barco */
.board .ship {
  background-color: var(--oc-indigo-5);
  border: 1px solid var(--oc-indigo-6);
}

.board .ship:hover {
  background-color: var(--oc-indigo-9);
}

/* Tocado */
.board .hit {
  background-color: var(--oc-red-8);
  border: 1px solid var(--oc-red-9);
}

/* Agua */
.board .miss {
  background-color: var(--oc-gray-4);
  border: 1px solid var(--oc-gray-2);
}

/* Barco hundido */
.board .ship-sunk {
  background-color: var(--oc-gray-9);
  border: 1px solid var(--oc-gray-8);
  animation: shake 50ms 6 alternate backwards;
}

.board .forbidden {
  background-color: var(--oc-red-2);
  border: 1px solid var(--oc-red-3);
}

/* Colores de las celdas adaptadas al tablero difícil */

/* Con barco */
.board-difficult .ship {
  background-color: var(--oc-indigo-5);
  border: 1px solid var(--oc-indigo-6);
}

.board-difficult .ship:hover {
  background-color: var(--oc-indigo-9);
}

/* Tocado  */
.board-difficult .hit {
  background-color: var(--oc-red-8);
  border: 1px solid var(--oc-red-9);
}

/* Agua */
.board-difficult .miss {
  background-color: var(--oc-gray-4);
  border: 1px solid var(--oc-gray-2);
}

/* Hundido */
.board-difficult .ship-sunk {
  background-color: var(--oc-gray-9);
  border: 1px solid var(--oc-gray-8);
  animation: shake 50ms 6 alternate backwards;
}

.board-difficult .forbidden {
  background-color: var(--oc-red-2);
  border: 1px solid var(--oc-red-3);
}